header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 135px;
    height: 118px;
    width: 100%;
    color: #313131;
    font-family: 'Gilroy-Medium';
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav_links {
     width: 420px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-right: 22px;
}

a {
    font-size: 18px;
    line-height: 21px;
    color: #313131;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

a:hover {
    color: #49AD09;
}